
.vs/Chess-2/FileContentIndex/3e7312cf-5b07-4d3b-9edd-f9caa605c76a.vsidx
.vs/Chess-2/v17/Browse.VC.db
.vs/Chess-2/v17/Browse.VC.db-shm
.vs/Chess-2/v17/Browse.VC.db-wal
.vs/Chess-2/v17/Browse.VC.opendb
Chess-2.sln
Chess-2.vcxproj
Chess-2.vcxproj.filters
Chess-2.vcxproj.user
.vs/Chess-2/v17/.suo
.vs/Chess-2/v17/DocumentLayout.json
assets/asset-dev.psd
